.titleLabel {
	-fx-font-size: 32px;
	-fx-font-family: "Arial Black";
	-fx-fill: #3e3ab2;
	-fx-effect: innershadow(three-pass-box, rgba(2, 0, 1, 0.7), 1, 0.8, 1, 2);
}

.labelForInput{
	-fx-font-size: 14px;
	-fx-font-family: "Arial Black";
	-fx-fill: #3e3ab2;
	-fx-effect: innershadow(three-pass-box, rgba(2, 0, 1, 0.7), 1, 0.8, 1, 2);
}

.containerBackground{
	-fx-background-color:rgb(174,210,208);
}
.change{
	
}
.btn {
    -fx-padding: 5 22 5 22;   
    -fx-border-style: none; 
    -fx-background-radius: 0;
    -fx-border-color : transparent;
    -fx-background-color: #299bb4;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}
 
.btn:hover{
    -fx-background-color: #699ca7;
    -fx-cursor: hand;
}
 
.btn:pressed, .btn:default:hover:pressed
{
  -fx-background-color: #342f2e;
  -fx-text-fill: white;
}
 
.btn:focused
{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;   
}
 
.btn:disabled, .btn:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}
 
.btn:default
{
    -fx-background-color: #5585be;
    -fx-text-fill: #ffffff;
}
 
.btn:default:hover{
    -fx-background-color: #219297;
}