
.root {
     -fx-background-image: url("../img/bg.jpg");
}

.loginTitle, .loginText {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #171d46;
}

#login-title {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #3e3ab2;
   -fx-effect: innershadow( three-pass-box , rgba(2,0,1,0.7) , 1, 0.8 , 1 , 2 );
}


.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

root { 
    display: block;
}
